@media screen and (max-width: 800px) {
    .login_label {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        margin-bottom: 0.5rem;
    }

    .login_btn {
        margin-top: 5%;
        text-align: center;
        align-self: center;
        font-size: 0.7rem;
        color: crimson;
        height: 1.7rem;
        width: 3.5rem;
        border-radius: 2rem;
        background-color: white;
        border-color: crimson;
        font-weight: bold;
    }

    .login_btn:hover {
        margin-top: 5%;
        text-align: center;
        align-self: center;
        font-size: 0.7rem;
        color: white;
        height: 1.7rem;
        width: 3.5rem;
        border-radius: 2rem;
        background-color: crimson;
        border-color: white;
        font-weight: bold;
    }

    .login_error_Text {
        height: 1rem;
        width: 100%;
        background: 0 0;
        font-size: 0.8rem;
        color: crimson;
        font-weight: bold;
        text-align: center;
    }

    .login_text_input {
        height: 1.2rem;
        width: 100%;
        background: 0 0;
        font-size: 0.8rem;
        color: #0c0c0c;
    }
}

@media screen and (min-width: 800px) {
    .login_label {
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        padding: 1rem 1rem 1rem 1rem;
        margin-bottom: 1rem;
    }

    .login_btn {
        margin-top: 5%;
        text-align: center;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        font-size: large;
        color: crimson;
        border-radius: 2rem;
        border: 2px solid crimson;
        background-color: white;
        font-weight: bold;
    }

    .login_btn:hover {
        color: white;
        background-color: crimson;
        border-color: white;
        font-size: x-large;
        cursor: pointer;
    }

    .login_error_Text {
        height: 1.2rem;
        width: 100%;
        background: 0 0;
        font-size: 1rem;
        color: crimson;
        font-weight: bold;
        text-align: center;
    }

    .login_text_input {
        height: 1.5rem;
        width: 100%;
        background: 0 0;
        font-size: 1rem;
        color: #0c0c0c;
    }
}

.login_body {
    display: grid;
    grid-template-columns: 100%;
    font-family: "AdorshoLipi", "PT Serif", "Arial" !important;
}

.log_font{
    font-family: "AdorshoLipi", "PT Serif", "Arial" !important;
}

.login {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 100%;
}

.login_form_items {
    display: grid;
    margin-bottom: 5%;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.login_text_area {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 90%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.login_logo {
    float: left;
}

.login_context{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


.alert_msg{
    text-align: center;
    color: gray;
    font-size: x-large;
    margin-top: 20px;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
