@media screen and (max-width: 800px) {
    .pageLabel {
        text-align: center;
        font-family: "AdorshoLipi", PT Serif, Arial !important;
        font-size: large;
        font-weight: bold;
    }

    .allField {
        display: grid;
        grid-template-columns: 90%;
        justify-content: center;
        align-items: center;
        padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    }

    .prePersInfo {
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        display: flex;
        flex-direction: column;
    }

    .prePersInfoLabel {
        font-family: "AdorshoLipi", PT Serif, Arial !important;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: justify;
    }

    .preview_margin {
        margin-top: 5%;
    }

    .tableIndexCol {
        width: 5%;
        font-family: "AdorshoLipi", PT Serif, Arial !important;
        font-size: 0.6rem;
        font-weight: bold;
    }

    .tableLabelCol {
        width: 20%;
        font-family: "AdorshoLipi", PT Serif, Arial !important;
        font-size: 0.6rem;
        font-weight: bold;
        text-align: left;
        padding-left: 0.25rem;
    }

    .tableColonCol {
        font-size: 0.6rem;
        font-weight: bold;
        width: 2%;
    }

    .tableValueCol {
        width: 75%;
        font-family: "AdorshoLipi", PT Serif, Arial !important;
        font-size: 0.6rem;
        text-align: left;
        font-weight: normal;
    }

    .pa_bold {
        font-size: 0.6rem !important;
    }

    .pa_reg {
        font-size: 0.6rem !important;
    }

    .preAppSignPic {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        text-align: right;
    }

    .preAppProImg {
        height: 60px;
        width: 60px;
        text-align: center;
        padding: 0.5rem;
        position: relative;
        cursor: pointer;
    }

    .preAppSignImg {
        height: 25px;
        width: 80px;
        text-align: center;
        padding: 0.5rem;
        position: relative;
        cursor: pointer;
    }

    .preButton {
        display: flex;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 2%;
    }

    .preNormalButton {
        font-family: "AdorshoLipi", PT Serif, Arial !important;
        font-size: 0.6rem;
        color: crimson;
        height: auto;
        width: auto;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        border-radius: 2rem;
        background-color: white;
        border-color: crimson;
    }

    .preview_logo {
        display: grid;
        grid-template-columns: 100%;
        margin-left: 15%;
    }
}

@media screen and (min-width: 800px) {
    .pageLabel {
        text-align: center;
        font-family: "AdorshoLipi", PT Serif, Arial !important;
        font-size: 2rem;
        font-weight: bold;
        margin-top: 1%;
    }

    .allField {
        display: grid;
        grid-template-columns: 90%;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem 1rem 1rem;
    }

    .prePersInfo {
        padding: 0.5rem 1rem 0.5rem 1rem;
        display: flex;
        flex-direction: column;
    }

    .prePersInfoLabel {
        font-family: "AdorshoLipi", PT Serif, Arial !important;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: justify;
    }

    .preview_margin {
        margin-top: 5%;
    }

    .tableIndexCol {
        width: 2%;
        font-family: "AdorshoLipi", PT Serif, Arial !important;
        font-size: 1rem;
        font-weight: bold;
    }

    .tableLabelCol {
        width: 25%;
        font-family: "AdorshoLipi", PT Serif, Arial !important;
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
        padding-left: 0.5rem;
    }

    .tablebigCol {
        width: 12%;
    }

    .tableColonCol {
        font-size: 1rem;
        font-weight: bold;
        width: 2%;
    }

    .tableValueCol {
        font-family: "AdorshoLipi", PT Serif, Arial !important;
        font-size: 1rem;
        text-align: left;
        padding-left: 1rem;
        font-weight: normal;
    }

    .pa_bold {
        font-size: 1rem !important;
    }

    .pa_reg {
        font-size: 1rem !important;
    }

    .preAppSignPic {
        padding: 1rem 1rem 1rem 1rem;
        text-align: right;
    }

    .preAppProImg {
        height: 150px;
        width: 150px;
        text-align: center;
        position: relative;
        cursor: pointer;
    }

    .preAppSignImg {
        height: 40px;
        width: 150px;
        text-align: center;
        position: relative;
        cursor: pointer;
    }

    .preButton {
        display: flex;
        padding: 1rem 1rem 1rem 1rem;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 2%;
    }

    .preNormalButton {
        font-family: "AdorshoLipi", PT Serif, Arial !important;
        font-size: 1rem;
        color: crimson;
        height: auto;
        width: auto;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 2rem;
        background-color: white;
        border-color: crimson;
    }

    .preview_logo {
        display: grid;
        grid-template-columns: 100%;
        margin-left: 30%;
    }
}

.previewApp {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
}

.pa_bold {
    font-weight: bold !important;
    font-family: "AdorshoLipi", PT Serif, Arial !important;
}

.pa_reg {
    font-family: "AdorshoLipi", PT Serif, Arial !important;
}

.preBasicField {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.preAppProPic {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.preBasicFieldwithProPic {
    display: flex;
    flex-direction: row;
}

.preBasicFieldMob {
    display: flex;
    flex-direction: column;
}
