.cash_book_dashboard {
    display: flex;
    flex-direction: column;
    font-family: "PT Serif";
    margin-top: 1%;
    margin-bottom: 2%;
}

.cb_page_label {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 4pt;
    color: #ee0f6a;
}

.cb_section_label {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 0.5%;
    color: crimson;
}

.cash_book {
    align-items: center;
    align-self: center;
    width: 75%;
}

.cb_section_items {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
}
.cb_section_item_label {
    font-size: medium;
    font-weight: 550;
    width: 16%;
}
.cb_section_item {
    display: flex;
    flex-direction: row;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    align-items: center;
}
.cb_section_left_margin_label {
    font-size: medium;
    font-weight: 550;
    width: 16%;
    margin-left: 20px;
}
