.personnel_dashboard{
    display: flex;
    flex-direction: column;
    font-family: "PT Serif";
    margin-top: 2%;
}

.pd_page_label{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 1%;
}

.pd_select{
    align-self: center;
    width: 20%;
    height: 40px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: large;
    font-family: "PT Serif";
}

.pd_section{
    display: flex;
    flex-direction: column; 
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.pd_section_label{
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 0.5rem;

}

.pd_section_filter{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.pd_section_item_filter{
    height: 25pt;
    width: 30%;
    font-family: "PT Serif";
    text-transform: uppercase;
}

.pd_section_items{
    display: flex;
    width: 100%;
}

.profile{
    flex-direction: row;
}

.pending_loan{
    flex-direction: column;
}

.pd_section_copy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.pd_butt{
    padding: 0.5rem 1.5rem;
    text-align: center;
    border: 2px solid var(--green);
    border-radius: 2rem;
    background-color: white;
    color: var(--green);
    font-size: large;
    font-weight: bold;
    transition: all ease 0.3s;
}

.pd_butt:hover{
    border: 2px solid white;
    background-color: var(--green);
    color: white;
    cursor: pointer;
    font-size: x-large;
}


.pd_section_items_div{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.pd_section_item{
    display: flex;
    flex-direction: row;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    align-items: center;
}

.pd_section_item_label{
    font-size: large;
    font-weight: 550;
    width: 30%;
}

.pd_section_item_colon{
    font-size: large;
    font-weight: 550;
    margin-right: 2%;
}

.pd_section_item_value{
    font-size: large;
    width: 68%;
}


.pd_section_row{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 2pt;
}

.pd_section_head_row{
    font-weight: 550;
}



.pd_section_col{
    height: 4rem;
    margin: 2pt;
    padding: 5pt;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pd_section_col_wid{
    width: 14.28%;
}

.pd_section_li_col{
    width: 57.12%;
}

.pd_sanction_section_col{
    width: auto;
}

.pd_section_col_value{
    text-align: center;
}

.linked_col{
    cursor: pointer;
    color: dodgerblue;
    text-decoration: underline;
}


.no_pending_loan{
    text-align: center;
    color: gray;
    font-size: x-large;
}





