@media screen and (max-width:600px) {
    .logo_with_imp_links{
        flex-direction: column;
        gap: 0.5rem;
        --s: 25px; /* control the size */
    }

    .footer_label{
        font-size: 0.9rem;
    }

    .imp_link{
        font-size: 0.6rem;
        margin-top: 0.25rem;
    }

    .contact_details{
        font-size: 0.6rem;
    }

    .footer_copyright{
        padding: 0.5rem;
        font-size: 0.6rem;
        border-top: 1px solid crimson;
    }


}

@media screen and (min-width:600px) {
    .logo_with_imp_links{
        flex-direction: row;
        align-items: center;
        gap: 3rem;
        --s: 50px; /* control the size */
        
    }

    .footer_label{
        font-size: 1.2rem;
    }

    .imp_link{
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    .contact_details{
        font-size: 1rem;
    }

    .footer_copyright{
        padding: 1rem;
        font-size: 1rem;
        border-top: 2px solid crimson;
    }
}


.footer_plate{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: "PT Serif";
}

.logo_with_imp_links{
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    margin-bottom: 1rem;


    --c1: #ebeee5;
    --c2: #e0d1d5;
    
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: var(--_s) conic-gradient(at 40% 40%,#0000 75%,var(--c1) 0);
    --_p: var(--_s) conic-gradient(at 20% 20%,#0000 75%,var(--c2) 0);
    
    background:
      calc( .9*var(--s)) calc( .9*var(--s))/var(--_p),
      calc(-.1*var(--s)) calc(-.1*var(--s))/var(--_p),
      calc( .7*var(--s)) calc( .7*var(--s))/var(--_g),
      calc(-.3*var(--s)) calc(-.3*var(--s))/var(--_g),
      conic-gradient(from 90deg at 20% 20%,var(--c2) 25%,var(--c1) 0) 
       0 0/var(--s) var(--s);
    background-blend-mode: lighten;
    animation: m 5s infinite;
}

@keyframes m {
    0% {
     background-position: 
      calc( .9*var(--s)) calc( .9*var(--s)),
      calc(-.1*var(--s)) calc(-.1*var(--s)),
      calc( .7*var(--s)) calc( .7*var(--s)),
      calc(-.3*var(--s)) calc(-.3*var(--s)),0 0
    }

    25% {
     background-position: 
      calc(1.9*var(--s)) calc( .9*var(--s)),
      calc(-1.1*var(--s)) calc(-.1*var(--s)),
      calc(1.7*var(--s)) calc( .7*var(--s)),
      calc(-1.3*var(--s)) calc(-.3*var(--s)),0 0
    }

    50% {
     background-position: 
      calc(1.9*var(--s)) calc(-.1*var(--s)),
      calc(-1.1*var(--s)) calc( .9*var(--s)),
      calc(1.7*var(--s)) calc(-.3*var(--s)),
      calc(-1.3*var(--s)) calc( .7*var(--s)),0 0
    }

    75% {
     background-position: 
      calc(2.9*var(--s)) calc(-.1*var(--s)),
      calc(-2.1*var(--s)) calc( .9*var(--s)),
      calc(2.7*var(--s)) calc(-.3*var(--s)),
      calc(-2.3*var(--s)) calc( .7*var(--s)),0 0
    }

    100% {
     background-position: 
      calc(2.9*var(--s)) calc(-1.1*var(--s)),
      calc(-2.1*var(--s)) calc(1.9*var(--s)),
      calc(2.7*var(--s)) calc(-1.3*var(--s)),
      calc(-2.3*var(--s)) calc(1.7*var(--s)),0 0
    }
  }




.footer_imp_links{
    display: flex;
    flex-direction: column;  
}

.footer_label{
    font-weight: bold;
    margin-bottom: 0.2rem;
    color: crimson;
}

.imp_link{
    color: var(--green);
}

.imp_link:hover{
    color: crimson;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
}

.footer_contact{
    display: flex;
    flex-direction: column;
}


.contact_details{
    color: var(--green);
}

.contact_details:hover{
    color: crimson;
    font-weight: 900;
    font-style: italic;
    cursor: pointer;
}

.footer_copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--green);
}

.cr_text{
    margin-right: 0.25rem;
}

.cr_link:hover{
    color: crimson;
    font-weight: 900;
    font-style: italic;
    cursor: pointer;
}