@media screen and (max-width: 800px) {
    .serviceInfo {
        width: 80%;
        margin-bottom: 2%;
    }

    .serviceField {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .serviceInfoLabel {
        font-family: "AdorshoLipi", "PT Serif", "Arial" !important;
        font-size: 0.7rem;
        font-weight: bold;
        color: black;
        text-align: center;
    }

    .siDataCheckBoxField {
        display: flex;
        width: 100%;
        margin-bottom: 1%;
    }

    .siDataCheckBoxLabel {
        font-family: "AdorshoLipi", "PT Serif", "Arial" !important;
        font-size: 0.6rem;
        color: black;
        width: 25%;
        margin-bottom: 10px;
    }

    .siCheckBox {
        margin-left: 1%;
        display: flex;
        align-items: center;
        align-content: center;
    }

    .siDataCheckBox {
        margin-right: 0.5rem;
        float: left;
    }

    .siDataCheckBoxInput {
        height: 0.8rem;
        width: 20px;
        color: black;
    }

    .siDataCheckBoxValue {
        font-family: "AdorshoLipi", "PT Serif", "Arial" !important;
        font-size: 0.6rem;
        color: black;
        position: relative;
    }
}

@media screen and (min-width: 800px) {
    .serviceInfo {
        width: 70%;
        margin-bottom: 2%;
    }

    .serviceField {
        padding: 1rem 1rem 1rem 1rem;
    }

    .serviceInfoLabel {
        font-family: "AdorshoLipi", "PT Serif", "Arial" !important;
        font-size: 1.2rem;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-bottom: 2%;
    }

    .siDataCheckBoxField {
        display: flex;
        width: 100%;
        margin-bottom: 1%;
    }

    .siDataCheckBoxLabel {
        font-family: "AdorshoLipi", "PT Serif", "Arial" !important;
        font-size: 0.8rem;
        color: black;
        width: 25%;
        margin-bottom: 10px;
    }

    .siCheckBox {
        margin-left: 1%;
        display: flex;
        align-items: center;
        align-content: center;
    }

    .siDataCheckBox {
        margin-right: 0.5rem;
        float: left;
    }

    .siDataCheckBoxInput {
        height: 0.8rem;
        width: 20px;
        color: black;
    }

    .siDataCheckBoxValue {
        font-family: "AdorshoLipi", "PT Serif", "Arial" !important;
        font-size: 0.8rem;
        color: black;
        position: relative;
        margin-left: 0.5rem;
    }
}
